.in-stock {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
    margin: 20px;
}

.out-of-stock {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px;
}
